/strl/experiments/
/strl/readme_zuo.md
/strl/configs/local.py

/setup.py
/requirements.txt
/spirl.egg-info
/d4rl.egg-info
/roboverse

/strl/data/maze/maze2d
/strl/data/calvin/calvin.npz
/strl/data/maze/maze2d_20_seed1
/strl/data/office/office_TA

*.pyc
.vscode